# --- SO/Editor ---
.DS_Store
Thumbs.db
.idea/
!.vscode/
*.code-workspace
**config.php

# --- Node / Frontend ---
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
# Artefactos de build comunes
wp-content/themes/**/dist/
wp-content/plugins/**/dist/
*.log

# --- Composer ---
# Si NO comiteas vendor, déjalo ignorado; si lo comiteas, borra esta línea.
vendor/

# --- WordPress (core y runtime) ---
app/public/wp-content/*
!app/public/wp-content/themes/
!app/public/wp-content/plugins/
app/public/wp-content/themes/*
!app/public/wp-content/plugins/*
!app/public/wp-content/themes/astra-trading-dark
!app/public/wp-content/plugins/advanced-custom-fields-pro-main
!app/public/wp-content/plugins/astra-sites


# Ignora todo wp-content salvo las carpetas de temas/plugins
wp-content/*
!wp-content/themes/
!wp-content/plugins/

# Ignora todos los temas/plugins por defecto...
wp-content/themes/*
wp-content/plugins/*

# ...y SOLO versiona tu tema y/o plugin
!wp-content/themes/astra-trading-dark
!wp-content/plugins/advanced-custom-fields-pro-main
!wp-content/plugins/astra-sites

# Archivos de core típicos (evita versionarlos)
**/wp-admin/
**/wp-includes/
**/wp-*.php
!**/wp-config.php
**/xmlrpc.php
**/readme.html
**/license.txt

# --- Extras LocalWP/WPEngine ---
*.sql
.wpe-push-ignore
.wpe-pull-ignore
